body {
    background-color: rgba(246, 93, 178, 1);
}

/* containers och flex */
.background {
    display: flex;
    background: rgb(189, 63, 251);
    background: linear-gradient(180deg, rgba(189, 63, 251, 1) 0%, rgba(246, 93, 178, 1) 100%);
    justify-content: center;
    padding: 30vh;
}

.formbox {
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 2rem;
}



/* css resets */
input {
    all: unset;
}

button {
    all: unset;
}

/* tranformerande css */
.fullwidth input{
    width: 100%;
}



.flexdown {



}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    width: 40vh;
    background-color: #e7e7e7;
}
input {
    font-size: large;
    background-color: #0000001e;
    border-radius: 5px;
    margin: 8px;
    padding: 5px;
}

button {
    color: #e7e7e7ee;
    background: linear-gradient(180deg, rgb(251, 63, 251) 0%, rgba(246, 93, 178, 1) 100%);
    border-radius: 5px;
    padding: 0.6rem;
    padding-inline: 1.5rem;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

::placeholder {
    padding: 10px;
}

@media (max-width: 1460px){
    .footer {
      position: relative;
    }
    .background {
        padding-inline: 0vh;
        
    }
    input {
        width: 100%;
        margin: 0;
        padding: 5px;
        padding-left: 0;
        margin-bottom: 1rem;
    }
  }