/* Raw elements */

body, main {
    margin: 0;
    padding: 0;
    color: #242427;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: #242427;
}

h1 {
    font-size: medium;
}

/* Content divs and classes */

.navbar {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-inline: 2rem;
}

.top-background {
    display: flex;
    background: rgb(189,63,251);
    background: linear-gradient(180deg, rgba(189,63,251,1) 0%, rgba(246,93,178,1) 100%);
    justify-content: flex-end;
}

.top-content {
    background-color: #e7e7e7;
    padding: 5rem;
    margin: 3rem;
}

.bottom-content {
}

.bottom-top {
    background-color: #e7e7e7;
    padding: 5rem;
    margin: 1rem;
}

.bottom-bot {
    display: flex;
    justify-content: space-between;
}

.bottom-box{
    background-color: #e7e7e7;
    padding: 5rem;
    margin: 1rem;
    width: 50%;
}

.footer {
    background-color: #4B4B4B;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-inline: 2rem;
    color: #f1f1f1;
}


/* Link hover effec */
a {
    position: relative;
  }
  
  a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #2f1825;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

/* Menu/navbar css  */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #main {
    transition: margin-left .5s;
    
  }

  