html,
body {
    margin: 0;
    width: 100%;
    height: 100%;

}

body {
    color: #242427;
    font-family: "Montserrat", sans-serif;
}


header, footer {
    width: 100%;
    background-color: #e7e7e7;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.brand-name {
    padding-inline: 1rem
}

.hamburger {
    padding-inline: 1rem;
}

a:link {
    color: #ca8e34;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.content-width {

}

.textbox {
    padding: 1rem;
    margin-inline: 2rem;
    margin-top: 2rem;
    background-color: #e7e7e7;
}

.textbox2 {
    padding: 1rem;
    margin-top: 1.7vh;
    background-color: #e7e7e7;
}

.contacts {
    padding-inline: 1rem
}

.trademark {
    padding-inline: 1rem
}
.hero {

}

.bot-content {
    background-color: #ffffff;
}